body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #4e73df, #1cc88a);
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    background: white;
    padding: 30px 40px;
    width: 350px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    text-align: center;
}

.login-box h2 {
    margin-bottom: 20px;
    color: #333;
}

.login-box input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 14px;
}

.login-box button {
    width: 100%;
    padding: 10px;
    background: #4e73df;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}

.login-box button:hover {
    background: #2e59d9;
}

.role-info {
    margin-top: 15px;
    font-size: 13px;
    color: #555;
}

.error {
    color: red;
    margin-top: 10px;
}


.login-box ul {
    padding-left: 20px;
}

.login-box p {
    color: #555;
    font-size: 14px;
}
